.hide{
    display: none;
}
.shadow{
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background-color:black;
    opacity: 0.4;
    z-index: 999;
}
.mymodal{
    position: fixed;
    top:50%;
    left:50%;
    margin-top:-150px;
    margin-left:-200px;
    height: 300px;
    width:400px;
    background-color:white;
    z-index: 1000;
}
.add-btn a{
    padding: 10px 10px;
}
.loading{
    position:fixed;
    width:124px;
    height:124px;
    left:50%;
    top:50%;
    margin-top: -62px;
    margin-left:-62px;
    z-index: 1000;
    background-image:url('/static/image/load.gif');
}