{% extends "management.html" %}

{% block include-css %}
    <link href="/static/css/mycss.css" rel="stylesheet" type="text/css" />
{% endblock include-css %}


{% block content %}
        <ol class="breadcrumb">
          <li><a href="{% url 'mian_html' %}">Home</a></li>
          <li class="active">班级列表</li>
        </ol>
    <div style="padding: 0 10px 10px 10px">
        <p>
            <a href="{% url 'add_class' %}" class="btn btn-info">添加</a>
            <a id="show_add" class="btn btn-primary">对话框添加</a>
        </p>
    </div>
    <table class="table table-bordered table-hover">
    <thead>
    <tr>
        <td>ID</td>
        <td>班级名</td>
        <td>操作</td>
    </tr>
    </thead>
    <tbody>
        {% for row in classes_list %}
        <tr>
        <td>{{ row.id }}</td>
        <td>{{ row.class_name }}</td>
        <td><a href="{% url 'edit_class' row.id %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
             |
        <a class="show_edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> 对话框</a>
            |
        <a href="{% url 'del_class' row.id %}"><i class="fa fa-trash" aria-hidden="true"></i></a>
             |
        <a class="show_del"><i class="fa fa-trash" aria-hidden="true"></i> 对话框</a></td>
        </tr>
        {% endfor %}
    </tbody>

    </table>

    <div id="shadow" class="shadow hide"></div>

    <div id="add_modal" class="mymodal hide">
        <div style="margin:20px 20px">
            班级名称：<input type="text" id="class_name"/>
            <input type="button" value="提交" id="add_submit"/>
            <input type="button" value="取消" class="cancel_btn"/>
            <p id="error_msg" style="color: red;"></p>
        </div>
    </div>

    <div id="edit_modal" class="mymodal hide">
        <div style="margin:20px 20px">
            <span id="nid" style="display:none;"></span>
            班级名称：<input type="text" id="edit_class_name"/>
            <input type="button" value="修改" id="change_submit"/>
            <input type="button" value="取消" class="cancel_btn"/>
            <p id="error_msg_edit" style="color: red;"></p>
        </div>
    </div>

    <div id="del_modal" class="mymodal hide">
        <div style="margin:20px 20px">
            <p id="del_id" style="display: none"></p>
            <p id = 'del_name'></p>
            <input type="button" value="删除" id="del_btn"/>
            <input type="button" value="取消" class="cancel_btn"/>
            <p id="error_msg_del" style="color: red;"></p>
        </div>
    </div>
    <nav aria-label="Page navigation">
      <ul class="pagination">
          {{ page_info.page|safe }}
      </ul>
    </nav>
{% endblock content %}

{% block include-js %}
    <script src="/static/js/classes_js.js"></script>
{% endblock include-js %}