
{% extends 'management.html' %}
{% block include-css %}
{% endblock include-css %}

{% block content %}
    <ol class="breadcrumb">
      <li><a href="{% url 'mian_html' %}">Home</a></li>
      <li><a href="{% url 'classes' %}">班级列表</a></li>
      <li class="active">编辑班级</li>
    </ol>
    <div style="padding-left: 50px;">
        <form method="post" action="{% url 'edit_class' nid %}">
            班级：<input type="text" name="title" value={{ class_list.class_name }}>
            <input type="submit">
        </form>
    </div>

{% endblock content %}

{% block include-js %}
{% endblock include-js %}


