<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑学生信息</title>
</head>
<body>
<h1>编辑学生信息</h1>
   <form method="post" action="/edit_student/?nid={{ student_data.id }}">
        姓名：<input type="text" name="name"  value={{ student_data.stu_name }} >
            <select name="class_id" >
                {% for class_i in class_list %}
                    {% if class_i.class_name == student_data.class_name %}
                        <option selected="selected" value={{ class_i.id }} >{{ class_i.class_name }}</option>
                    {% else %}
                        <option value={{ class_i.id }}>{{ class_i.class_name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        <input type="submit"/>
    </form>
</body>
</html>