{% extends 'management.html' %}

{% block include-css %}
    <link rel="stylesheet" href="/static/css/mycss.css">
{% endblock include-css %}

{% block content %}
    <ol class="breadcrumb">
          <li><a href="{% url 'mian_html' %}">Home</a></li>
          <li class="active">教师列表</li>
    </ol>
    <div style="padding: 0 10px 10px 10px">
        <p>
            <a href="{% url 'add_teacher' %}" class="btn btn-info">添加</a>
            <a id="show_add_modal" class="btn btn-primary">对话框添加</a>
        </p>
    </div>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <td>ID</td>
            <td>名称</td>
            <td>管理班级</td>
            <td>操作</td>
        </tr>
        </thead>
        <tbody>
            {% for rows in teacher_list %}
                <tr>
                    <td>{{ rows.id }}</td>
                    <td>{{ rows.th_name }}</td>
                    <td>{% for class_name in rows.classes_names %}
                        <span style="border:1px solid red;display: inline-block;padding: 5px">{{ class_name }}</span>
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{% url 'edit_teacher' rows.id %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>|
                        <a class="show_edit_modal"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> 编辑框</a>|
                        <a href="{% url 'del_teacher' rows.id %}"><i class="fa fa-trash" aria-hidden="true"></i></a>|
                        <a class="show_del_modal"><i class="fa fa-trash" aria-hidden="true"></i> 编辑框</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="shadow hide"></div>
    <div class="loading hide"></div>
    <div class="mymodal hide" id="add_modal">
        <div style="margin:20px">
            <p>教师名称:<input type="text" id="add_t_name" style="width: 100px"/></p>
            <p>
                <select multiple id="add_select" size="10" style="width: 100px">

                </select>
            </p>
            <input type="button" id="add_btu" value="添加"/>
            <input type="button" class="cancel" value="取消"/>
            <p id="add_err"></p>
        </div>
    </div>

    <div class="mymodal hide" id="edit_modal">
        <div style="margin:20px">
            <p id='edit_id' style="display: none"></p>
            <p>教师名称:<input type="text" id="edit_t_name" style="width: 100px"/></p>
            <p>
                <select multiple id="edit_select" size="10" style="width: 100px">

                </select>
            </p>
            <input type="button" id="edit_btu" value="修改"/>
            <input type="button" class="cancel" value="取消"/>
            <p id="edit_err"></p>
        </div>
    </div>

    <div class="mymodal hide" id="del_modal">
        <div style="margin:20px">
            是否删除编号：<span id="del_id"></span>   教师名称:<span id="del_name"></span>
            <p>任课班级:<span id="del_t_class"></span></p>
            <input type="button" id="del_btn" value="删除"/>
            <input type="button" class="cancel"  value="取消"/>
            <p id="err_del"></p>
        </div>
    </div>

    <nav aria-label="Page navigation">
      <ul class="pagination">
          {{ page_info.page|safe }}
      </ul>
    </nav>
{% endblock content %}

{% block include-js %}
    <script src="/static/js/teacher-js.js"></script>
{% endblock include-js %}
